.camera-details {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
}
.camera-details section:first-child {
    min-width: 600px;
    height: 338px;
    margin: 20px;
    background-color: gray;
}
.camera-details section:last-child {
    width: 50%;
}
.camera-details section:last-child td:first-child {
    font-weight: 700;
}
.params-row {
    display: flex;
    width: 500px;
    justify-content: space-between;
    font-size: 18px;
}
.params-row p {
    margin: 0;
}
.params-row p:first-child {
    font-weight: 700;
}
.camera-actions {
    margin-top: 20px;
}
.camera-actions button {
    margin-right: 20px;
}
.live {
    width: 600px !important;
}