.trackers-prolongation {
    .red-cell {
        width: max-content;
        padding: 5px;
        border-radius: 10px;
        background-color: rgba(255, 0, 0, 0.116);
    }

    .radio-pay {
        min-width: 56px;
    }

    .ant-table-wrapper {
        @media screen and (max-width: 800px) {
            overflow-x: scroll;
        }
    }
}
