.camera-details {
    width: 100%;
    min-height: 400px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.camera-details section:first-child {
    width: 500px;
    height: 300px;
    margin: 20px;
    border: 1px solid blue;
}
.camera-details section:last-child {
    width: 50%;
}
.camera-details section:last-child td:first-child {
    font-weight: 700;
}
.params-row {
    display: flex;
    width: 500px;
    justify-content: space-between;
    font-size: 18px;
}
.params-row p {
    margin: 0;
}
.params-row p:first-child {
    font-weight: 700;
}