.balance-operations .balance-operations-content {
    display: flex;
    flex-direction: column;

    .balance {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 800px) {
            flex-wrap: wrap;
        }

        h3 {
            margin: 0 20px 0 0;

            @media screen and (max-width: 800px) {
                margin: 0 10px 10px 0;
            }
        }
        input {
            min-width: 100px;
            max-width: max-content;
        }
    }
    .ant-table-wrapper {
        @media screen and (max-width: 800px) {
            overflow-x: scroll;
        }
    }
}
