.profile {
    .card {

        .fields-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            @media screen and (max-width: 800px) {
                flex-direction: column;
            }
            
        }
        .buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 15px;

            button:first-child {
                margin-right: 20px;
            }
        }
        section {
            margin-top: 15px;
            min-width: 260px;
            max-width: 320px;

            input {
                margin-top: 5px;
            }

        }

        .fields-wrapper {

            label {
                margin-right: 20px;
            }

            .switch {
                height: 35px;
                display: flex;
                align-items: center;
            }
        }
    }
}