/* .schedules-modal .ant-modal-body{
display: flex;
flex-wrap: wrap;
} */

/* .schedules-modal .register-field {
    width: 45%;
}
.schedules-modal .register-field:first-child {
    width: 100%;
} */
.option-disabled {
    color: red;
}
.option-recording {
    color: green;
}
/* .cameras-select {
    width: 100%;
} */