.camera-schedules {
    .active-schedule {
        background: #f6ffed;
        border-color: #b7eb8f;
    }
    .inactive-schedule {
        background: #fff1f0;
        border-color: #ffa39e;
    }
    .schedule-card {
        min-width: 235px;
        height: 100%;
    }
    .schedule-card p {
        margin: 4px 0;
    }
    .schedule-card span {
        display: flex;
        justify-content: space-between;
    }
    .schedule-card span p:first-child {
        font-weight: 600;
    }
    .schedule-card span p {
        text-align: end;
    }
    .schedule-card.active-schedule .ant-card-head {
        border-color: #b7eb8f;
    }
    .schedule-card.inactive-schedule .ant-card-head {
        border-color: #ffa39e;
    }
    .schedule-card.active-schedule .schedule-status {
        color: #389e0d;
    }
    .schedule-card.inactive-schedule .schedule-status {
        color: #cf1322;
    }
    .add-camera-schedule {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center !important;
        transition: 0.5s;
    }
    .add-camera-schedule:hover {
        transform: scale(1.05);
        transition: 0.5s;
        cursor: pointer;
    }
    .add-camera-schedule img {
        width: 200px;
        opacity: 0.5;
    }
    .add-camera-schedule img:hover {
        opacity: 0.8;
    }

    .ant-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
