.cameras-list section h2 {
    color: black;
    margin: 0;
}
.cameras-list section {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.cameras-list section button {
    margin-left: 20px;
}
